* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

.primary-btn {
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.primary-btn:hover {
    color: black;
    background-color: coral;
}

.primary-text {
    text-align: center;
    margin-top: 120px;
}

.primary-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.primary-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}

/* header section css here */
.intro-section {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-img .img {
    /* width: 635px; */
    height: 650px;
    padding-top: 52px;
    padding-right: 150px;
}

.intro-text {
    padding: 30px 30px 0px 130px;
}

.intro-heading {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    /* line-height: normal; */
}

.intro-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
}

/* features section css here */


.features-img {
    display: flex;
    margin: 30px 50px 10px 50px;
    justify-content: center;
    gap: 30px;
}

.featurs1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.features2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.features3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featurs_flower {
    width: 220px;
    height: 310px;
    padding: 50px 50px 0 50px;
    /* padding-top: 10px; */
}

.features-img-title {
    display: flex;
    margin: 30px 50px 10px 50px;
    justify-content: center;
    gap: 280px;
    margin-top: 10px;
    text-decoration-line: underline;
}

/* policy section css here */

.policy {
    border-radius: 8px;
    background-color: #2727270D;
    padding: 80px;
    margin: 100px 220px;
}

.policy-item {
    display: flex;
    /* margin: 200px 50px 10px 50px; */
    justify-content: space-evenly;
}

.policy {
    text-align: center;
}

.title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
}

.policy-img {
    height: 70px;
    width: 70px;
}

/* discount section css here */
.discount-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #E554730D;
    padding: 80px;
}

.discount-title,
.discount-description {
    text-align: center;
}

span {
    color: #E55473;
}

.discount-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.discount-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
}

#button {
    margin-left: 120px;
}

.discount-img img {
    width: 250px;
    height: 350px;
}

/* instagram section css code here */
.instagram-section {
    margin: 120px;
}

.instagram-img {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}

.instagram-img img {
    width: 250px;
    height: 300px;
}

/* subcription section css code here */
.subscription {
    background-image: url("images/deals_bg.png");
    border-radius: 7px;
    padding: 100px;
    margin: 100px 175px;
    background-repeat: no-repeat;
}

.subscription-section-text {
    text-align: center;
    line-height: 15px;
    padding-bottom: 40px;
}

.subscription-input {
    text-align: center;
}

.input-email {
    width: 500px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
    padding: 7px 0 7px 10px;
}

.description{
    line-height: 3;
}

/* footer section css code here */

.footer{
    background-color: #111010;
}
.footer-text{
    text-align: center;
    line-height: 15px;
    padding: 130px;
}
.footer-title{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: 3;
}
.shop{
    color: #E55473;
}
.footer-description{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFFE5;
    /* line-height: 3; */
}
.copyright{
    text-align: center;
    color: #FFFFFF66;
    line-height: 5;
}